[BEGINVDF]
Comment=LeGo Bloodsplats%%NBloodsplat textures from CGTextures.com (now textures.com).
BaseDir=.\
VDFName=.\Bloodsplats.vdf

[FILES]
; Resources (list the specific files from _work here)
_work\Data\Textures\_compiled\Bloodsplat*-C.tex

; Script files
Ninja\Bloodsplats\* -r

[EXCLUDE]
_work\Data\Scripts\* -r
*.vm
*.vdf
*.bat

[INCLUDE]

[ENDVDF]
