[BEGINVDF]
Comment=LeGo Bloodsplats%%NBloodsplat textures from CGTextures.com (now textures.com).
VDFName=.\Bloodsplats.vdf

[FILES]
README_Bloodsplats.txt

; Resources (list the specific files from _work here)
_work\Data\Textures\_compiled\Bloodsplat*-C.tex

; Script files
Ninja\Ikarus\* -r
Ninja\LeGo\* -r
Ninja\Bloodsplats\* -r

[EXCLUDE]
_work\Data\Scripts\* -r
*.vm
*.vdf
*.bat

[INCLUDE]

[ENDVDF]
