[BEGINVDF]
Comment=LeGo Bloodsplats%%NBloodsplat textures from CGTextures.com (now textures.com).%%NNinja <http://tiny.cc/GothicNinja>
VDFName=.\Ninja_Bloodsplats.vdf

[FILES]
README_Bloodsplats.md

; Resources (list the specific files from _work here)
_work\Data\Textures\_compiled\Bloodsplat*-C.tex

; Script files
Ninja\Ikarus\* -r
Ninja\LeGo\* -r
Ninja\Bloodsplats\* -r

; Ninja files
*.patch

[EXCLUDE]
_work\Data\Scripts\* -r
*.vm
*.vdf
*.bat

[INCLUDE]

[ENDVDF]
